.App {
  text-align: center;
}


#bg img {
  min-width: 50%;
  min-height: 50%;
  opacity: 0.25;
  width: auto; 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topMenu {
  color: white;
}